.img-thumbnail {
  width: 30vw;
  height: 30vw;
  max-width: 220px;
  max-height: 220px;
}

.profile-add-image {
  font-size: 2rem;
  line-height: 150px;
  width: 150px;
  border-style: dashed;
  border-width: 2px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.287);
}
