#REACT FRONTEND-----------------
# dependencies
/frontend/node_modules
/frontend.pnp
/frontend.pnp.js

# environment
/frontend/.env*

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# images
/uploads

# EXPRESS BACKEND-----------------
# dependencies
/backend/node_modules

# testing
/backend/coverage

# keys
/backend/gcp_key.json

#environment
/backend/.env*

# images
/backend/uploads

# ------------------------------
/node_modules

