.image {
  height: 150px;
  width: 150px;
}

.img-upload {
  width: 357px;
  height: 367px;
  object-fit: contain;
  margin: auto;
}

.profile-img-upload {
  max-height: 100%;
  width: auto;
}

.add-image {
  font-size: 2rem;
  line-height: 150px;
  border-style: dashed;
  border-width: 2px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.287);
}

@media screen and (max-width: 768px) {
  .image {
    height: 100px;
    width: 100px;
  }

  .img-upload {
    width: 200px;
    height: 200px;
  }

  .add-image {
    font-size: 1.5rem;
    line-height: 100px;
  }
}
