.nav-link:hover {
  transition: all 0.3s ease-in-out;
  color: #000 !important;
}
footer .item {
  padding: 0 0.5rem;
  font-size: 1.25rem;
}

footer a {
  color: #000;
}

footer a:hover {
  transition: all 0.3s ease-in-out;
}

footer .linkedin:hover {
  color: #0077b5;
}

footer .github:hover {
  color: #800080;
}

footer .email:hover {
  color: #dbc100;
}
